@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron my-jumbotron">
    <h1>Welcome to MissionPedia!</h1>
    <p>The biggest collection of mission stats, facts, and information.</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Search Missions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Bolivia, Cochabamba" })">Bolivia, Cochabamba</a></li>
            <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Louisiana, Baton Rouge" })">Louisiana, Baton Rouge</a></li>
            <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Philippines, Tacloban" })">Philippines, Tacloban</a></li>
            <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Colorado, Fort Collins" })">Colorado, Fort Collins</a></li>
            
        </ul>
    </div>
</div>

<div class="row" style="text-align: center;">
    <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uzjFEMmM0Xs"></iframe>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oXio1W_oj0w"></iframe>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cnhj4-CTxAo"></iframe>
        </div>
        <br />
    </div>
</div>
