
@{
    ViewBag.Title = "Missions";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#gridSystemModal").modal('show');
    });
</script>

<link rel="stylesheet" media="all" href="/assets/application-150c68a5865fd940967b94f5df8649a0266bced728d892e8a76010765db855f7.css" data-turbolinks-track="true" />

<br />
<div style="text-align: center;">
    <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 30vh;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridModalLabel">Mission Selection</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid bd-example-row">
                        <div class="row">
                            <div class="dropdown">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown">
                                        Choose A Mission
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Bolivia, Cochabamba</a></li>
                                        <li><a href="#">Louisiana, Baton Rouge</a></li>
                                        <li><a href="#">Philippines, Tacloban</a></li>
                                        <li><a href="#">Colorado, Fort Collins</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd-example bd-example-padded-bottom">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#gridSystemModal">
            Select A Mission
        </button>
    </div>


</div>

    