.my-jumbotron {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-image: url(~/../../img/landingpageBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #ffffff;
	color: #ffffff;
}
